{% load static %}
<!DOCTYPE html>

<html>
    <body>
        <nav class="navbar navbar-expand-lg bg-danger bg-opacity-50">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand TituloEmpresa" style="font-family: 'Cabin', sans-serif;" >
                    <img src='{% static "img/LogoInstantSale.png" %}'>
                </a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/Registro">Registrar Usuarios</a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/Usuarios">Usuarios</a>
                        </li>
                    </ul>
                    <h4 style="font-family: 'Montserrat', sans-serif;">{{request.session.usuario}}&nbsp;&nbsp;</h4>
                    
                      <div class="btn-group dropstart">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src='{% static "img/IconoPerfilVacio.png" %}' class="rounded" width="50" height="50">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item active" href="/PerfilPropio/{{request.session.usuario}}">Perfil</a></li>
                            <li><a class="dropdown-item" href="/CerrarSesion">Cerrar Sesión</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </nav>    
    </body>
</html>