{%extends "home.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

<h1 style="text-align: center;">República del Ecuador</h1>
<br>
<p class="fs-5 fw-semibold" style="text-align: center;">
    Ecuador, oficialmente la República del Ecuador, es un país soberano, desde 13 de mayo de 1830, ubicado 
    en la región noroccidental de América del Sur. La capital y ciudad más poblada del país es Quito.
    Es miembro de la Comunidad Andina y está organizado en veinticuatro provincias. Limita al norte con 
    Colombia, al sur y al este con Perú y al oeste con el océano Pacífico, el cual lo separa del 
    archipiélago de Colón o islas Galápagos por aproximadamente mil kilómetros de la costa continental, 
    entre la península de Santa Elena y la isla San Cristóbal. También limita con Costa Rica por la 
    frontera marítima de la región insular. La línea equinoccial o paralelo 0° atraviesa el país y 
    divide los territorios continental e insular en dos, quedando así la mayor parte del territorio 
    ecuatoriano en el hemisferio sur.

    La cordillera de los Andes divide la parte continental del país de norte a sur, dejando a su flanco 
    occidental el golfo de Guayaquil y zonas de llanuras y piedemontes, y al oriente, la Amazonia. Ecuador
     ocupa un área de 256 370 km². Es el décimo país más poblado de América, con más de dieciocho millones
      de habitantes, el más densamente poblado de América del Sur y el quinto más densamente poblado en 
      toda América.
    
    Ecuador es considerado una reciente potencia energética basada en energías sustentables. Además, se
     trata del país con una de las más altas concentraciones de ríos por kilómetro cuadrado en el mundo y
     uno de los países de mayor diversidad por kilómetro cuadrado. Por ende, uno de los países con mayor
      biodiversidad del mundo. Es el primer país del planeta en tener los derechos de la naturaleza 
      garantizados en su Constitución del año 2008.
    
    La lengua oficial es el español, hablado por el 93 % de la población, junto a otras trece lenguas 
    indígenas reconocidas, que incluyen el kichwa y shuar. Para 2018, el IDH del Ecuador es catalogado 
    como «alto», ubicándose en el puesto 81 en el mundo (junto a China) y decimosegundo en América. Con
     un PBI PPA de 205 457 millones de dólares estadounidenses, la economía ecuatoriana ocupa el puesto
      64 en el mundo y la sexta de Sudamérica. El país en el mundo es uno de los principales 
      exportadores de petróleo, consta como el principal exportador de banano y uno de los principales
       exportadores de flores, camarones y cacao. Ecuador recibió en 2019 poco más de 1,3 millones de 
       turistas extranjeros, lo cual posiciona al país como uno de los referentes regionales en recepción 
       de turismo internacional.
</p>

{% endblock %}